
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.left {
  height: 100vh;
  background-color: #303061;
  /* background-color: #bdd1ec; */
}
.left img{
  position: relative;
  transform: scale(0.6) translateX(-30%);
  
}
.right {
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.right a{
  color: #4a4a80;
}
@media (max-width: 576px) {
  /* 當螢幕寬度小於等於 576px (sm) 時，圖片高度為螢幕的一半 */
  .left {
    height: 50vh;
    background-color: #303061;
  }
  .right {
    height: 50vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.right img{
  width: 40%;
}

h2 {
  margin-bottom: 20px;
  color: #4a4a80;
}

input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.submit {
  background-color: #515188;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #303061;
}
